body{
    padding: 0%;
    margin: 0%;
    background-color: #141b29;
    width: 100%;
} 

/* navigation bar */

.navigation{

display: flex;
width: 100%;
height: 70px;
overflow: hidden;
}
.navigation .icon-wrapper {
    /* position: relative; */
    padding: 20px;
    margin-left: -10px;
}
.navigation .icon-wrapper .line{
    width: 18px;
height: 2px;
background-color: white;
display: block; 
margin: 4px;

}
 .navigation .icon-wrapper:hover .menu_bar{
    display: block;
    position: absolute;  
    
 
    background-color: #181846;  
} 

 .navigation .icon-wrapper:hover .menu_bar ul{
    display: block;
    text-align: center;
}
.navigation .icon-wrapper:hover .menu_bar ul li{
    width: 60px;
    padding: 10px;
    /* border-bottom: 1px solid #e1dcdc; */
   
    
    text-align: left;
    justify-content: center;
  list-style: none;
}
.navigation .icon-wrapper:hover .menu_bar ul li a{
    color: aliceblue;
    text-decoration: none;
}
.menu_bar{
    display: none;
   
}
.navbar ul li:hover .menu_bar{
    display: block;
    position: absolute;  
    
    color: aliceblue;
    background-color: #181846;
   margin-left: -65px;
}
.navbar ul li:hover .menu_bar ul{
    display: block;
    text-align: center;
  

}

.navbar ul li:hover .menu_bar ul li{
    width: 120px;
    padding: 10px;
   
    text-align: left;
    justify-content: center;
    list-style: none;
}
.menu_bar li:hover{
   background-color: #141b29;

}
.menu_bar li a{
    font-size: 14px;
}
.icon-img{
    display: block;
  
  padding: 10px;
    margin-left: -10px;
   
}

.medi{
    display: none;
}
.navbar ul{
    display: flex;
    padding: 8px ;
    list-style: none

}
.navbar li{
    margin-left: 22px;
text-decoration: none;
}
.navbar li a{
    font-size: 18px;
    text-decoration: none; 
    color:white;
}
.navbar li a:hover{
    color: white;
}
#kid a{
font-size: 20px;
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
}

.srch input{
    display: inline-block;
     width: 320px;
 height: 25px;
     border:none ;
     color: white;
     border-bottom:2px solid white ;
    background-color: #141b29;
   overflow: hidden; 
 }

 .log{
    display: none;

}
.srch{
    display: block;
    margin-top: 20px ;
    margin-left: auto;

 
}



.btn{
    display: inline-block;
    padding-left: 8px;
    margin-top: 22px ; 
    color: white;
    font-size: 20px;
    padding-right: 5px;
   
}
.btn-1{
    display: none;
    border-radius: 4px;
}
.btn-1:hover{
    background-color: red;
    color: white;
    cursor: pointer;

}
.login{
    display: block;
    /* padding-left: 8px; */
    margin-top: 22px ;
    color: white;
}
.btn button{
    color: white;
    background-color: blue;
    font-size: medium;
}
.log:hover{
  color: red;
    cursor: pointer;
}

/* reponsive view */

@media (min-width:800px) {
    #medi-1{
  display: block;
    }
    #log-1{
        display: block;
    }
    #btn-2{
        display: block;
    }
    #im-2{
        display: block;
       

    }
    .container-2{
        height: 70%;
        width: 50%;
    }
   

  }  

@media screen and (max-width:500px){
    .srch input{
        position: absolute;
        left:60%;
   width: 100px;
   margin: auto;
   justify-content: center;
overflow: hidden;
    }
    
  .container-2 img{
    width: 50%;
    margin-top: 0px;
    height: 200px;
  }
  #cont-1{
 
  height: 200px;
  }
  .im-0{
    display: inline;
    height: 70%;
    margin-top: 13px;
    justify-content: space-between;
  }
  #countainer-02 {
margin: 0px 0px;

height: 120px;
  }

 #headline{
    font-size: 18px;
 }
 
 #footer01 ul{
    padding: 0%;
    margin: 0%;
 }
   #para{
    margin-left: 0%;
 }
 .bottom{
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;

 }
 #visit-icon01 p{
margin-top: 0px;
 }
 #visit-icon01{
   text-align: center;
 }
 #visit-icon01{
    width: 100%;
 }
 }

 #footer01{
    margin-left: 0px;
    width: 99%;
 }





/* container-1 */

.container-1{
display:block;
    /* border: 2px solid red; */
   max-width: 98%;
  height: 380px;
margin: auto;
border-radius: 14px;
 margin-bottom: 12px;
 animation: image;
 animation-duration: 15s;
 animation-iteration-count: infinite;
 animation-delay: 8s;
 background-image: url(/img/2023-03-15\ \(4\).png);
background-repeat: no-repeat;

}
@keyframes image {
    25%{
background-image: url(/img/2023-03-15.png);
    }
    50%{

background-image: url(/img/2.png);
    }
    75%{

background-image: url(/img/5.png);
    }
    100%{
     
       background-image: url(/img/4.png); 
    }
}



/* main */


.headline {
    margin: 24px 15px;
   padding-top: 24pxs;
    color: white;
    font-size: 25px;
}
.headline:hover{
    color: blue;
    cursor: pointer;
}
.container-2{
    /* border: 2px solid red; */
    display: flex;
    width: 98%;
    height: 200px;
    margin: 10px auto;
    justify-content: space-evenly;
    transition: 2s;
    
}
.container-2  img{
    display:block;
   border-radius: 12px;
/* margin: 5px auto; */
    width: 90%;
    height: 100%;
   
}
.container-2 img:hover{
    transform: scale(1.2);
    z-index: 2;
}
.im-1{
    display: none;
}



/* footer */


.bottom{
    display: flex;
    width: 99%;
  
}
.footer{
    display: block;
    float: left;
    width: 48%;

    
}
.footer ul {
display: flex;
list-style: none;
flex-wrap: wrap;
}

.footer li{
    padding: 10px;
   padding-bottom: 0%;
}
.footer li a{
    text-decoration: none;
    color: white;
}
.footer li a:hover{
   color: blue;
   text-decoration: underline rgb(169, 169, 173);
}
.para{
    color: white;
    margin-left: 45px;
}
.visit-icon{
    display: block;
    width: 40%;
    margin-left: 13px;
    float: left;
    flex-wrap: wrap;
  
}
.feb-tut-icon{
    display: block;
    width: 50%;
    float: left;
}
.feb-tut-icon p{
    margin-top: 30px;
    margin-bottom: 0px;
    color: beige;
}
.feb-tut-icon img{
  
    width: 16%;

}

.visit-icon img:hover{
    background-color: rgb(38, 8, 172);
}
.icon-3{
    display: block;
    width: 50%;
    float: left;
}
.icon-3 img{
    width: 50%;
}
.icon-3 p{
    color: white;
    margin-top: 35px;
    margin-bottom: 0%;
}
